/* Main Window Styles */
#main_window {
    min-width: 1200px;
    min-height: 600px;
}

AdwHeaderBar {
    padding: 12px;
}

/* Split View Styles */
#split_view {
    /*min-sidebar-width: 200px;*/
}

/* HeaderBar Styles */
#split_view > * > * AdwHeaderBar {
    /*show-title: true;*/
}

/* Banner Box Styles */
/*Outer Box Wrapper*/
#banner_box {
    margin: 3px 8px;
    font-size: 1.1em;
}
/*Inner Box Button*/
#ledger_banner {
    width: 100%;
}

/* Drive Icon Styles */
#drive_icon {
    -gtk-icon-size: 24px;
}

/* Network Label Styles */
#network_label {
}

/* Lock Button Styles */
#lock_btn {
    background: none;
    border: none;
    padding: 0;
}

/* Lock Icon Styles */
#lock_icon {
    -gtk-icon-size: 24px;
}

.dark #lock_icon {
    color: dark;
}

:not(.dark) #lock_icon {
    color: white;
}
