/* General Styles */
AdwApplicationWindow {
    background: white;
}

/* HeaderBar Styles */
AdwHeaderBar {
    padding: 12px;
    min-height: 56px;
}

/* Split View Styles */
AdwNavigationSplitView {
    min-width: 200px;
}

/* Status Page Styles */
AdwStatusPage {
    padding: 24px;
}

/* Entry Row Styles */
AdwEntryRow {
    margin: 6px 0;
}

/* Button Styles */
.pill-button {
    border-radius: 24px;
    padding: 6px 12px;
    margin: 3px;
}

/* Scrolled Window Styles */
GtkScrolledWindow {
    min-width: 200px;
    min-height: 200px;
}

/* Banner Container Styles */
#ledger_banner_container {
    margin: 12px;
    padding: 6px 0;
}